.verifyPassword{
    width : 100%;
    height : 85%;
    margin-top: -55px;
    display: grid;
    place-items: center;
  }

  #A-logo{
    width : 40%;
    height: 100%;
    background-color: #e5e9f8;
    display: grid;
    place-items:center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: beige;
    font-family: 'Moirai One';
    font-size: 4rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .centerDiv {
    width: 60%;
    height: 40%;
    display: flex;
    background-color: rgb(202, 201, 201);
    border-radius: 10px;
  }

  .centerDivShake{
    width: 60%;
    height: 40%;
    display: flex;
    background-color: rgb(202, 201, 201);
    border-radius: 10px;
    animation: shake 0.5s ease infinite;
  }

  @keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }

  #rightDiv {
    flex: 1;
    height: 100%;
  }


  #rightDiv {
    display: flex;
    flex-direction: column;
  }

  .rightInnerDiv {
    flex: 1;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
  }

  .password-div{
    display: flex;
    width : 95%;
    height: 100%;
  }

  .Visibility-div{
    width: 20%;
    color : #fff;
    display: grid;
    place-items: center;
  }

  .Visibility-div:hover{
    border-radius: 50px;
    background-color: #2980b9;
    cursor: pointer;
  }


  .input-password{
    background-color: #fff;
    font-size: 1rem;
    outline-width: 0px;
    border: none;
    width :80%;
    height: 80%;
    border-radius: 10px;
  }

  .styled-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .styled-button:hover {
    background-color: #2980b9;
  }