.MessageOther-Msg{
    max-width: 50%;
    background-color: #bddae6;
    padding: 10px;
    border-radius: 10px;
    float: left;
    clear: both;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 1%;
    
}