.NoChatSelected{
    display: grid;
    place-items: center;
}

.NoChatSelected-A{
    font-family: 'Moirai One';
    font-size: 20rem;
}

.NoChatSelected-WelcomingText{
    font-family: "Nunito", sans-serif;
    font-style: italic;

}