.SelfMessage {
    max-width: 50%;
    background-color: #bde6cb;
    padding: 10px;
    border-radius: 10px;
    float: right;
    clear: both;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 1%;
  }
  