.SideBarSearch{
    margin-top: 2%;
    margin-left: 12%;
    background-color: #d4d4dc;
    border-radius: 10px;
    width: 80%;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.SideBarSearch-Input{
    margin-left: 5%;
    width : 80%;
    outline-width: 0;
    border: none;
    background-color: #d4d4dc;
    color : #1d1e22;
    font-size: 1rem;
    border-radius: 10px;
}

@media only screen and (max-width : 40em){
        .SideBarSearch{
            display: none;
        }
}