.UserProfile{
  display: grid;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

.UserProfile-WhiteDiv{
  background-color: #f1f1f1;
  width: 70%;
  height: 98%;
  border-radius: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.UserProfile-WhiteDiv-Couverture{
  height: 40%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex: 1;
  position: relative;
  background-color: antiquewhite;
}

#left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 40%;
  display: grid;
  place-items: center;
  border-radius: 50px;
}

#left:hover{
  background-color: rgb(246, 244, 241);
  cursor: pointer;
}

#right-top {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 40%;
  display: grid;
  place-items: center;
  border-radius: 50px;
}

#right-top:hover{
  background-color: rgb(246, 244, 241);
  cursor: pointer;
}

#right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

#right-bottom:hover{
  background-color: rgb(246, 244, 241);
  cursor: pointer;
  border-radius: 50px;
}

.UserProfile-WhiteDiv-Informations {
  height: 67%;
  width: 100%;
}

.UserProfile-WhiteDiv-Img{
  display: grid;
  place-items: center;
  margin-top: -35px;
}

.informations {
  width : 100%;
  height : 70%;
  margin-top: -5%;
  background-color: #fff;
  display: flex;
  font-family: 'Arial', sans-serif;
}

.column-60 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.sub-div {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

textarea{
  width: 100%;
  height: 60%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  resize:none;
}

.sub-div-label{
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.sub-div-input {
  width: 80%;
  padding: 10px;
  border: none;
  outline-width: 0;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
}

.column-40 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sub-div-90 {
  height: 60%;
  margin: 5px;
}

.sub-div-10 {
  height: 10%;
  margin: 5px;
}

.update{
  width: 100%;
  background-color: #7c96e2;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@media (min-width: 768px) {
  .UpdateProfile {
    padding: 12px 50px;
  }
}

@media only screen and (max-width : 50em){

}

