.WaitingToFetch{
    margin-top: 15px;
    background-color: #d4d4dc;
    margin-left: 12%;
    width: 80%;
    height: 75%;
    max-height: 75vh;
    border-radius: 10px;
    padding-top: 7px;
    overflow-y: auto;
    display: grid;
    place-items: center;
    font-family: 'Moirai One';
    font-size: 3rem;
}