.WritingMsgZone{
    width: 90%;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 10px;
    min-height: 9vh;
    display: flex;
}

.WritingMsgZone-Div{
    width: 100%;
    width: 90%;
}
.WritingMsgZone-Div-Input{
    margin-left: 7%;
    margin-top: 1%;
    height: 65%;
    width: 90%;
    border: none;
    outline-width: 0;
    font-size: large;
    font-family: "Nunito", sans-serif;
}

.WritingMsgZone-Icons{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}